@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
.red h1 { color: #ff1e1e;} 
.red p {color: #360000;} 
.red .results {background-color:#ffeeee}
.red .banner {background-color: #d3464db2}
.red .banner-button {background-color: #b40101;}
.red .banner-button:hover {background-color: #ff7e05;}
.red .dropdown-button {background-color: #ff1e1e}
.red .dropdown-button:hover {background-color: #7d3636}
.red .dropdown-content {background-color: #e91d1d;}
.red .grid-button {background-color: #380909}
.red .grid-button:hover {background-color: #ed2020}
body.red {background-image: url("Iconos/image1.gif");}

.green h1{ color: #35ff1e;} 
.green p {color: #003607;} 
.green .results {background-color:#efffee}
.green .banner {background-color: #54d346b2}
.green .dropdown-button:hover {background-color: #367d3c}
.green .banner-button:hover {background-color: #4cff05;}
.green .dropdown-button {background-color: #6dff1e; color: #eaffe3}
.green .dropdown-content {background-color: #50e91d;}
.green .dropdown-button:hover {background-color: hsl(109, 40%, 35%);}
.green .banner-button {background-color: #01b410;}
.green .grid-button {background-color: #103809}
.green .grid-button:hover {background-color: #2aed20}
body.green {background-image: url("Iconos/image3.gif");}

.blue h1{ color: #1e80ff;} 
.blue p {color: #0a0036;} 
.blue .results {background-color:#eefeff}
.blue .banner {background-color: #469bd3b5}
.blue .dropdown-button:hover {background-color: #43367d}
.blue .dropdown-button {background-color: #1e80ff; color: #e3fff9}
.blue .dropdown-content {background-color: #1da8e9;}
.blue .dropdown-content button {background-color: #1e53ff;}
.blue .dropdown-button button:hover {background-color: hsl(256, 40%, 35%);}
.blue .banner-button {background-color: #0146b4;}
.blue .grid-button {background-color: #160938}
.blue .grid-button:hover {background-color: #3120ed}
body.blue {background-image: url("Iconos/image2.gif");}


body{
    margin: 0;
    height: 100vh;
    background-image: url("Iconos/image2.gif");
    background-size: cover;              /* cubre toda la pantalla */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;        /* efecto parallax opcional */
    color: white;
}
h1{
    font-family: "Work Sans", sans-serif;
    font-size: 30px;
    font-optical-sizing: auto;
    text-align: center;
    font-style: normal;
    color:#1e80ff;
    transition: color 0.4s ease;
}
h2{
    font-family: "Work Sans", sans-serif;
    font-size: 27px;
    font-optical-sizing: auto;
    text-align: center;
    font-style: normal;
    color:#1e80ff;
    transition: color 0.4s ease;
}

p {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: #0A0036;
    margin: 0;
    transition: color 0.4s ease;
}
.results{
    background-color: #eefeff;
    width:80%;
    margin: auto;
    transition: color 0.4s ease;
    padding: 10px;
    border-radius: 8px;
}
.subrayado-color-rojo {
    text-decoration: underline;
    background-color: red;
    
}
.subrayado-color-verde {
    text-decoration: underline;
    background-color: green;
}
/* Centrar elementos */
.centrar{
    display: block; /* Asegura que la imagen se trate como un bloque */
    margin-right: auto;
    margin-left: auto; /* Centra la imagen */
    height: auto;
}
.centrar-texto{
    text-align: center; /* Alineación centrada */
}


/* Banner */
.banner {
    position: fixed; /* Fijo al fondo superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsla(204, 62%, 55%, 0.902); /* Color translúcido */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(8, 0, 48, 0.1);
    z-index: 1000; /* Asegura que esté al frente */
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
    transition: background-color 0.4s ease;
}

/* Estilo para el menú desplegable (dropdown) */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Botón de lenguaje */
.dropdown-button {
    background-color: #1e80ff;
    color: #e3fff9;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.dropdown-button:hover {
    background-color: #36377d;
    transform: scale(1.05);
}

/* Contenido del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d3ce9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Botones dentro del dropdown */
.dropdown-content button {
    background-color: #1e80ff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.dropdown-content button:hover {
    background-color: hsl(249, 94%, 19%);
    transform: scale(1.05);
}

/* Mostrar el contenido del dropdown cuando el mouse pasa por encima */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilo para el título principal */
#title {
    font-size: 27px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    margin: 0;
    text-align: left; /* Alineación a la izquierda */
}

/* Estilo para los botones dentro del banner (no en dropdown) */
.banner-buttons {
    margin-top: 0;
    display: flex;
    justify-content: flex-start; /* Alineación a la izquierda */
    flex-wrap: wrap; /* Permite que los botones se ajusten si es necesario */
}
.input-numbers {
   text-align: center;
   margin: 0;
   color: rgb(10, 10, 10);
   font-size: 70px;
}
.input-number {
   font-size: 27px;
   font-family: 'Work Sans', sans-serif;
   width: 3em;
}
.banner-button {
    text-decoration: none;
    color: rgb(189, 247, 255);
    background-color: #012bb4;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

.banner-button:hover {
    background-color: #00054d;
    transform: scale(1.05);
}

/* Contenedor principal */
.main-container {
    margin-top: 80px; /* Deja espacio debajo del banner fijo */
    min-height: calc(100vh - 80px); /* Ajuste responsivo */
}
/* Cuadrícula */
.grid-container3x3 {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #ccc;
}
.grid-container3x2{
    display: grid;
    grid-template-columns: repeat(3, 420px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #ccc;
}



.grid-button {
    text-decoration: none;
    color: rgb(230, 245, 205);
    background-color: #1b0938;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}
.grid-button:hover {
    background-color: #5dcde9;
    transform: scale(1.05);
}


